* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Nunito", sans-serif;
    width: 100%;
}

.header {
    width: 100%;
}

.nav-1 {
    width: 100%;
    min-height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;

    padding: 10px 3%;
}

.logo h1 {
    font-size: 35px;
    white-space: nowrap;
}

.search-box {
    width: 40%;
    max-width: 600px;
    min-width: 250px;

    height: 45px;

    display: flex;
    align-items: center;

   
    padding: 0 12px;

    gap: 10px;
}

.searchicon {
    font-size: 18px;
    cursor: pointer;
}
.input {
    padding: 5px;
    
}
.ul-1 {
    display: flex;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
}

.ul-1 li {
    font-size: 14px;
}

.ul-1 span {
    margin-left: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 25px;

    font-size: 20px;
}

.menu-bar {
    display: none;
    font-size: 22px;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
}

.nav-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

.ul-2 {
    width: 100%;
    max-width: 1600px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 4%;
}

.ul-2 li {
    font-size: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.background-img {
    width: 100%;
    position: relative;
}

.background-img img {
    display: block;

    width: 100%;
    height: 400px;

    object-fit: cover;
}


.text-content {
    position: absolute;

    top: 50%;
    left: 70%;

    transform: translateY(-50%);

    z-index: 2;
}

.para {
    font-size: 35px;
    font-weight: 800;

    color: white;

    line-height: 1.3;

    margin: 0;
}

.text-content button {
    width: 110px;

    padding: 10px;

    margin-top: 25px;

    border: none;
    border-radius: 5px;

    background-color: white;
    color: black;

    cursor: pointer;
} 
