* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
}

.main-nav-bar {
    display: flex;
    flex-direction: column;
}

.nav-bar1 {
    display: flex;
    gap: 415px;
    padding-top: 15px;
    padding: 20px;
}

.nvbr-h1 {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

.search-bar {
    display: flex;
    width: 400px;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
}

.input {
    padding: 5px;
    border-radius: 4px;
}

.profile {
    display: flex;
    gap: 40px;
}

.mic {
    display: flex;
    padding: 5px;
}

.nav-bar2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: aqua;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 100px;
}

.support {
    display: flex;
    gap: 10px;
}

.backgroundimage {
    width: 1585px;
    height: 470px;
}

.textcontent {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 300px;
    top: 150px;
    padding: 20px;
}

.header-1 {
    font-size: 37px;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    color: yellow;
}

span {
    color: black;
}

.sub-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

button {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 2px;
}

.testmonials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cardimage1 {
    position: relative;
    width: 200px;
    height: -250px;
    top: -20px;
    right: 20px;
}

.card1 {
    display: flex;
    width: 330px;
    background-color: burlywood;
    color: white;
    padding: 20px;
    border-color: black;
    border-radius: 5px;

}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-list {
    list-style: none;
}

.play {
    display: flex;
    gap: 10px;
}

.card2 {
    display: flex;
    margin-left: 30px;
    width: 330px;
    background-color: aqua;
    color: white;
    padding: 20px;
    border-color: black;
    border-radius: 5px;
}

.cardimage2 {
    position: relative;
    width: 200px;
    height: -250px;
    top: 15px;
    right: 20px;
}

.card3 {
    display: flex;
    margin-left: 30px;
    width: 330px;
    background-color: aquamarine;
    color: white;
    padding: 20px;
    border-color: black;
    border-radius: 5px;
}

.cardimage3 {
    position: relative;
    width: 200px;
    height: -250px;
    top: 25px;
    right: 20px;
}